# superlu stuff. where is it installed and what is the library called 
# SUPERLU = /opt/superlu
SUPERLULIB = superlu_5.1
PSUPERLU = /opt/superlu_mt
PSUPERLULIB = superlu_mt_OPENMP
# compiler 
CXX = g++
OPENMP = 1